In [1]:
import pandas as pd

In [2]:
movies_df = pd.read_csv('movies.csv')
ratings_df = pd.read_csv('ratings.csv')

In [3]:
movies_df.head(5)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [10]:
movies_df.shape

(62423, 3)

In [4]:
ratings_df.head(5)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [6]:
average_ratings = ratings_df.groupby('movieId')['rating'].mean().reset_index()
average_ratings.head(5)

   movieId    rating
0        1  3.872470
1        2  3.401869
2        3  3.161017
3        4  2.384615
4        5  3.267857

In [8]:
rated_movies_with_titles = pd.merge(average_ratings, movies_df, on='movieId')
rated_movies_with_titles.head(5)

,movieId,rating,title,genres
0,1,3.872470,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,3.401869,Jumanji (1995),Adventure|Children|Fantasy
2,3,3.161017,Grumpier Old Men (1995),Comedy|Romance
3,4,2.384615,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,3.267857,Father of the Bride Part II (1995),Comedy

In [9]:
rated_movies_with_titles.to_csv('rated_movies.csv', index=False)