GOAL : Predicting how a user will rate a movie they have not yet viewed based on their historical preferences.

IMPORTS

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet


import warnings; warnings.simplefilter('ignore')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

THE DATA

*   Check for null values
*   Check shape

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
train.tail()

          userId  movieId  rating   timestamp
10000033  136395    99114     5.0  1521235092
10000034  140078      553     3.0  1002580977
10000035  154807    56782     4.0  1227674807
10000036   85805      327     4.0  1479921530
10000037  139457     1009     4.0   858984862

In [3]:
train.shape

(10000038, 4)

In [4]:
train.isna().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [5]:
train['timestamp'].replace(np.nan, train['timestamp'].mean(), inplace=True)

In [6]:
train.isna().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

**Collaborative Filtering**

We will use a technique called Collaborative Filtering to make recommendations to Movie Watchers. Collaborative Filtering is based on the idea that users similar to a me can be used to predict how much I will like a particular product or service those users have used/experienced but I have not.

I will not be implementing Collaborative Filtering from scratch. Instead, I will use the Surprise library that used extremely powerful algorithms like Singular Value Decomposition (SVD) to minimise RMSE (Root Mean Square Error) and give great recommendations.

In [7]:
!pip install scikit-surprise

Collecting scikit-surprise
  Downloading https://files.pythonhosted.org/packages/f5/da/b5700d96495fb4f092be497f02492768a3d96a3f4fa2ae7dea46d4081cfa/scikit-surprise-1.1.0.tar.gz (6.4MB)
     |████████████████████████████████| 6.5MB 2.8MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (0.15.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.18.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.12.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.0-cp36-cp36m-linux_x86_64.whl size=1675741 sha256=a5bb0465a9ddb5ea5a1577674841c835bb0af92c801731bd8d9a9478f0926362
  Stored in directory: /root/.cache/pip/wheels/cc/fa/8c/16c93fccce688ae1bde7d979ff102f7bee980d9cfeb8641bcf
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.0

In [8]:
from surprise.model_selection import KFold
from surprise import NormalPredictor
from surprise import SVD
from surprise import Dataset
from surprise import accuracy
from surprise import Reader
from surprise.model_selection import cross_validate
reader = Reader(rating_scale=(1, 5))

In [9]:
train.head()

   userId  movieId  rating   timestamp
0    5163    57669     4.0  1518349992
1  106343        5     4.5  1206238739
2  146790     5459     5.0  1076215539
3  106362    32296     2.0  1423042565
4    9041      366     3.0   833375837

In [10]:
data = Dataset.load_from_df(train[['userId', 'movieId', 'rating']], reader=reader)
# data = Dataset.load_from_df(train[['userId', 'movieId', 'rating']], reader)
cross_validate(NormalPredictor(), data, cv=2)

{'fit_time': (13.432538747787476, 19.400834321975708),
 'test_mae': array([1.15066729, 1.1504418 ]),
 'test_rmse': array([1.44304405, 1.44263571]),
 'test_time': (77.37810373306274, 75.87435126304626)}

In [11]:
kf = KFold(n_splits=3)

algo = SVD()

for trainset, testset in kf.split(data):

    # train and test algorithm.
    algo.fit(trainset)
    predictions = algo.test(testset)

    # Compute and print Root Mean Squared Error
    accuracy.rmse(predictions, verbose=True)

RMSE: 0.8455
RMSE: 0.8452
RMSE: 0.8466

In [12]:
from surprise.model_selection import GridSearchCV
param_grid = {'n_epochs': [5, 10],
              'lr_all': [0.002, 0.005],
              'reg_all': [0.4, 0.6]}
gs = GridSearchCV(SVD, param_grid, measures=['rmse', 'mae'], cv=3)
gs.fit(data)

# best RMSE score
print(gs.best_score['rmse'])

# combination of parameters that gave the best RMSE score
print(gs.best_params['rmse'])

0.8891006904049262
{'n_epochs': 10, 'lr_all': 0.005, 'reg_all': 0.4}

In [13]:
from surprise.model_selection import train_test_split

# Setting the data variable and using the Reader() object.
data = Dataset.load_from_df(train[['userId', 'movieId', 'rating']], reader=reader)

# sample random trainset and testset
# test set is made of 25% of the ratings.
trainset, testset = train_test_split(data, test_size=.25)

# We'll use the famous SVD algorithm.
algo = SVD(n_epochs=10, lr_all=0.005, reg_all=0.4)

# Train the algorithm on the trainset, and predict ratings for the testset
algo.fit(trainset)
predictions = algo.test(testset)

# Then compute RMSE
accuracy.rmse(predictions)

RMSE: 0.8883

0.8882637494815175

In [14]:
# Using algorithm with best 'rmse'
algo = gs.best_estimator['rmse']

# Fitting it to our full trainset
algo.fit(data.build_full_trainset())

In [ ]:
# train[train['userId'] == 2011]

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

In [ ]:
# algo.predict(uid, iid)

Prediction(uid='[[    1]\n [    1]\n [    1]\n ...\n [22854]\n [22854]\n [   22]]', iid='[ 2011.  4144.  5767. ... 81591. 81847.    nan]', r_ui=None, est=3.532955376042982, details={'was_impossible': False})

In [15]:
ratings = []
for _, row in test.iterrows():
  ratings.append(algo.predict(row.userId, row.movieId).est)

ratings

[3.573181312695559,
 4.034689109340559,
 3.6512148682619756,
 3.7651367294619744,
 3.375689872189256,
 3.8059993312153493,
 3.9147556424070125,
 3.719937523825239,
 3.8616090871435955,
 3.68721039182157,
 3.547382441994458,
 3.3229163686411725,
 3.7793228272267623,
 3.8415707438686195,
 3.771651894274973,
 3.904995116317711,
 3.7402415783017773,
 3.23720540913246,
 3.5205798358371783,
 3.621287474168504,
 3.8797194127927903,
 3.562730417800229,
 3.2235652855048125,
 3.3170799147532533,
 3.8147991087846127,
 3.729649503520648,
 3.7021427954556585,
 3.4520691361637876,
 3.4043245285097954,
 3.7005130051232613,
 3.799747542156323,
 3.611423778131383,
 3.5192427180235915,
 3.273328306965661,
 3.150292367609543,
 3.3444363414944713,
 3.649959463484169,
 3.7809338017826226,
 3.816272086440247,
 3.4413719483334217,
 3.6760084305664913,
 3.633142274384807,
 3.458845624922486,
 3.5128262951880744,
 3.7388861993013562,
 3.934888203336384,
 4.0169165764557215,
 4.261294047913114,
 4.027351173745689,
 4.158576470618903,
 4.081039202868312,
 4.1593950891099025,
 4.222226647202686,
 4.09873860015864,
 3.584622035147575,
 3.5518021471327392,
 3.8632115986479776,
 3.850382630225662,
 3.501507636615316,
 4.093632979008322,
 3.29612257700893,
 3.760540642015914,
 3.0375449369991365,
 3.5227032662860194,
 3.535997803785078,
 3.752985346872261,
 3.6275159331708933,
 3.9580423732536705,
 3.6706136389113233,
 3.4631722054912912,
 4.14598791419296,
 3.1432258050923774,
 3.6473992245966897,
 3.6376735537729843,
 3.5836736936120235,
 3.8925615149328174,
 3.6826946614116545,
 4.088003986246322,
 3.519906278735337,
 3.3728955354591883,
 3.5686333108708204,
 3.9615190752221814,
 3.5226001188106273,
 3.8521006301647627,
 3.3365241174691667,
 3.435285796703361,
 3.6558764823365513,
 3.3624932440022586,
 3.636012046984916,
 3.8761867276653783,
 3.4963490208987826,
 4.058109027418175,
 3.687701598904375,
 4.064538290307034,
 3.9208927169402155,
 3.9207929925666964,
 3.753282841860228,
 3.500721183079185,
 3.88421856425582,
 3.6681851239741823,
 2.706022032402176,
 3.6806632297688795,
 3.7564697020391984,
 3.7927208132275454,
 3.6309898942985614,
 3.71135068419242,
 3.2819037985576878,
 3.7693001856864945,
 3.7842099743463042,
 3.4404032532359428,
 3.6987227360459576,
 3.476892803401769,
 3.9437139265302688,
 4.116058414101872,
 3.9739603688874903,
 3.8497203964656608,
 4.020662770333311,
 3.9136775964089714,
 3.350022379239632,
 3.8512190219628386,
 3.2468411325043443,
 3.9377935035142624,
 3.8197991362908073,
 4.197577563848169,
 3.984726406340061,
 3.639255902983505,
 4.095791477499648,
 3.2829215923153607,
 3.7950230164029133,
 3.583442598442001,
 3.4380964171614283,
 3.475927746839276,
 3.723811995889125,
 3.8704547824478843,
 3.422846599942218,
 3.5399973828374085,
 3.508840324856547,
 3.95561767827808,
 4.012392610853831,
 3.447376672465282,
 3.7432279926517804,
 3.3695107121603494,
 3.7541645954097196,
 3.8076862128907685,
 3.705318490366819,
 3.9084560962442905,
 2.831847551707917,
 3.9182058775986706,
 3.7679906134339665,
 3.528914423371239,
 3.4229769516029998,
 4.079910197504575,
 4.169094807033222,
 3.8978040647622345,
 3.669213925675768,
 3.769542715821802,
 3.5760543285966113,
 4.039380799893874,
 4.195612484536169,
 3.625805681120185,
 3.967467558381476,
 3.9299860263326774,
 4.128585544969825,
 3.9413867521079924,
 3.920913155235465,
 3.6063418955439777,
 3.7420981745552826,
 3.7268524809121275,
 3.471242528562036,
 3.528332426623656,
 3.450901981658173,
 3.1159534593342935,
 3.587637090393529,
 3.6181898812698297,
 3.186770959027457,
 3.2595828701660254,
 3.5149040100937037,
 3.7024050062108613,
 3.6053349110775366,
 3.3209382149289306,
 3.5065056263554797,
 3.481752011990394,
 3.6456046238727517,
 3.0987049216303704,
 3.2494894638907224,
 2.6028925195816304,
 3.4842928521544683,
 3.5086493616218815,
 3.4260090427396968,
 3.2759831056452486,
 3.5743467333235137,
 3.570633645068186,
 3.693858472249415,
 3.727584339767934,
 3.7632018859650858,
 3.485503921006473,
 3.3905106954470625,
 3.5568682261743807,
 3.4421395346956434,
 3.527074501227137,
 3.262934768388965,
 3.159137892087401,
 3.7990349048338867,
 3.6173743282960795,
 3.487209912295576,
 3.5718033196164343,
 3.4972082625720318,
 3.5960120436366254,
 3.7489372789879565,
 3.2984642232232178,
 3.705687866691327,
 2.801117366854922,
 3.9727924108786676,
 3.5285497671507375,
 4.0995710549789495,
 3.3419060502708517,
 3.826867638182968,
 3.247375593526122,
 3.6786390625432066,
 3.2523250463877993,
 3.432084113445341,
 3.678252973992244,
 3.74060044755699,
 3.6597318540493196,
 3.9025134960483703,
 3.3408802744232076,
 3.549645754440838,
 3.1942232807916944,
 3.8509841796420443,
 4.0901271184366275,
 3.725034786577353,
 4.1405350601525575,
 3.8939114065321436,
 3.700497327669013,
 3.449885641800618,
 4.13885863409293,
 4.0753609764048475,
 3.9434098595831015,
 3.9479146531062295,
 4.013330858079802,
 4.098313824012391,
 3.9478960754641546,
 3.9030019317574167,
 4.2158144438011576,
 3.9758637134782897,
 3.626778989247984,
 3.5814519351978342,
 4.007092189768179,
 3.7669667380645455,
 3.4950259719258403,
 3.7137681446161066,
 3.6028927655271548,
 4.085972659619033,
 3.593988798736894,
 3.483340412024278,
 3.4475024083861534,
 3.894648550634428,
 3.9946565221013213,
 3.6911559296801073,
 3.6843258381103645,
 3.9885769644148557,
 4.078099065405171,
 4.034830443899748,
 3.962169086449814,
 3.4695857661772114,
 3.7016800275691395,
 3.557945914755204,
 3.845867076292445,
 3.7946855324254427,
 3.9200485519277017,
 3.7308327211160854,
 3.81124024357583,
 3.6240033779136134,
 3.371406820798427,
 3.3103780315644986,
 3.5829964242996852,
 3.740375178677983,
 3.321569546679121,
 3.847277791289432,
 3.68341142243881,
 3.5936662465645015,
 3.767921774429317,
 3.829643991023621,
 3.796651838860791,
 4.091208584074884,
 4.104546440238227,
 4.17002737257564,
 3.0663679919086464,
 4.267460551840193,
 3.556303827156749,
 3.674517678029759,
 3.3176986116187726,
 3.3016920812235067,
 3.95618158837817,
 3.504777931603892,
 4.060552723996491,
 3.6762103186601887,
 4.306313370788567,
 3.987296183904292,
 3.7218321926977977,
 3.8100611172564256,
 3.8907413254113874,
 3.7547743347429123,
 3.26523103531429,
 3.7273444688879382,
 4.172978618381844,
 3.2460169298880515,
 3.587669882437068,
 3.3063059987331513,
 3.5529193500023535,
 4.011314220519173,
 4.082039673534788,
 3.991627818125169,
 3.7931880909689104,
 3.9999313256578004,
 3.917219547130959,
 3.9751223808967575,
 4.128829700841172,
 4.374060582800921,
 4.253231766178332,
 4.259000419867227,
 4.085484036733144,
 4.1472641695272054,
 3.529043105525429,
 3.7553304647056325,
 3.7831516520481805,
 2.764722438910407,
 3.80389596389987,
 3.4812432386213676,
 3.414022510050198,
 3.116786526419067,
 3.224568330287085,
 3.313344380227888,
 3.4904280982219746,
 3.6305955533381202,
 3.4818821953384425,
 3.5372877705011483,
 3.035519538154581,
 3.6571475920013734,
 3.3287675491194713,
 3.915368524720594,
 3.5105620241161115,
 3.699006425287658,
 3.821826864084645,
 2.9180125104180408,
 3.1386390101036326,
 3.3246371190854647,
 3.264779756474731,
 2.826291764564204,
 3.348556532371806,
 3.484186797618228,
 3.76631127573226,
 3.895407245562787,
 3.4419027466215275,
 2.960680669335198,
 3.3506685770625197,
 3.2222667279005637,
 3.195982423002859,
 3.337921909911149,
 3.4987191248974394,
 3.7485524314744016,
 2.995143031117532,
 2.7771578704500923,
 3.3121770031099502,
 3.3777799331301215,
 3.4336808311519587,
 3.6317188948670616,
 3.570919424598963,
 3.1599173036065675,
 3.2623529031173186,
 3.0574582548947284,
 3.7838306504013612,
 3.543703995560272,
 3.1942260626528896,
 3.7732941524271864,
 3.353344731017679,
 3.952405436369815,
 3.637746288038964,
 3.291793218212823,
 3.2197678922398025,
 3.393526700058895,
 3.0906055149197225,
 3.8010368429262784,
 3.7192035800493826,
 3.5504174701542763,
 3.34832022613124,
 3.667303045642319,
 3.7818803240434082,
 3.667234487887075,
 3.5029920990189067,
 3.771827646011466,
 3.79686485879059,
 3.601415748070481,
 3.7848398035694606,
 3.5879526514537328,
 3.5050482665460425,
 3.073926892599309,
 3.6264648681085414,
 3.647576215954022,
 2.8121675868600704,
 3.121643526282667,
 2.980692516524648,
 3.312530384537433,
 2.6903502995589017,
 2.9889517435653787,
 3.718068176110749,
 3.303465496981049,
 2.9984335073939268,
 3.7517354164560723,
 3.5336920641346627,
 3.1739097285381446,
 3.324614430092506,
 3.4257241928021305,
 3.253597477562954,
 3.778181202954589,
 3.637795289226987,
 2.931526454003416,
 2.5843042344286524,
 3.29730083412376,
 3.21398570943744,
 3.142984572424237,
 3.2127114461384902,
 2.8496397060668843,
 3.5013274339809626,
 3.774990048119656,
 3.0744503417278364,
 3.4590794891305356,
 3.5931210357250665,
 3.2510219315149014,
 3.1105409725701123,
 3.4618592943372692,
 3.3577468027919672,
 3.412224397718476,
 3.8478044738201405,
 3.49206447681954,
 3.563223429747644,
 3.2208341282279287,
 3.392368253693441,
 3.5405424751295587,
 2.8391475155518235,
 3.084563864005677,
 3.461655102292975,
 3.8819894005732283,
 3.2194631881163667,
 3.4788371856996005,
 3.7665501574030107,
 3.0396885207684736,
 3.3763098849433937,
 3.444064928897028,
 3.3357467741257225,
 3.467860853373162,
 3.644928072550856,
 3.5839158934039617,
 3.651851880177874,
 3.2218131167136552,
 3.1157086083602525,
 2.332784001764292,
 3.6147026678966174,
 3.2719623396913198,
 3.4360236858926765,
 3.4990939029955057,
 3.5425305790060735,
 2.8395601840433367,
 3.569279060917622,
 3.513074814652529,
 3.673676226673716,
 3.2053481057983593,
 3.147477550448291,
 2.9853517987677916,
 3.5245043567464305,
 3.532702275411125,
 3.510098213790745,
 3.5850257385353244,
 3.589677636035211,
 3.174620171767686,
 3.3804178212734852,
 3.529654747164446,
 3.7150303601947003,
 3.4588859350996177,
 3.220504830962085,
 3.47952316522215,
 3.544151054021678,
 3.4794918733207374,
 3.653894391588682,
 3.7126063498262356,
 3.340718831526381,
 3.6438370682948777,
 3.650053636056621,
 3.7092414170572883,
 3.6650347369995346,
 3.2868018163173467,
 3.849928921298123,
 3.5404420237444043,
 3.3586525183333125,
 3.568760762972966,
 3.5686245116873376,
 3.770722398288415,
 3.749602419287719,
 3.607004546731504,
 3.7443799618144316,
 3.292895780476194,
 2.9836384407338445,
 3.390541094917623,
 3.258114937015843,
 3.8160546422677264,
 3.777581855567762,
 3.152898502755169,
 3.722402332850437,
 3.514446749299411,
 3.9776530887785846,
 4.007781465068745,
 3.717398154347192,
 3.9225873737251247,
 4.053200167720882,
 3.9754479288657736,
 3.9284859541761366,
 3.7912914941878033,
 3.432312364060231,
 3.658824326263786,
 3.734779079232373,
 3.6003303982128165,
 3.3633280037597446,
 3.1466228739270647,
 3.7343181377990375,
 3.5695332745503223,
 3.789772871058914,
 3.942523239423935,
 4.03190047323041,
 3.999732084128489,
 3.527280041495049,
 3.9443938799199145,
 3.9701990954009565,
 3.2978822801419927,
 4.042362878094922,
 3.0988856211544333,
 3.2930641799269784,
 3.436739250737632,
 3.648767210490236,
 3.661995098991372,
 4.028044557089815,
 2.9657466475590426,
 3.7889347356311482,
 3.550521659807131,
 3.571715039708629,
 3.687560613778786,
 3.7710849531306367,
 3.7190046797566745,
 3.6477341125357747,
 3.3952989338647916,
 3.569480639767659,
 3.4429049805014262,
 3.61787406225237,
 2.8233897256293696,
 3.040155266649544,
 3.6404205150146356,
 3.6638122906047212,
 2.9101686541952905,
 3.4115289355840837,
 3.9002425495622224,
 3.567295663499498,
 4.024429521282685,
 4.069953986958444,
 3.4985039954427504,
 3.7447651365882524,
 3.654570193102609,
 3.621674718762208,
 3.6744759857875375,
 3.8797667329424934,
 3.8409213618039946,
 3.7849608888879684,
 2.8720134365211667,
 3.710085696542182,
 3.378272737435224,
 3.5438519012563914,
 3.7301267863067107,
 3.9207117569295566,
 3.4617485724415653,
 3.9637606686204547,
 3.5636349733295183,
 3.368878657985673,
 3.9334951391022956,
 3.5771249420834996,
 3.2895144267987972,
 3.3673957431457624,
 3.9049148544119454,
 3.05141512149666,
 3.440117878772065,
 3.4895534473957204,
 3.1620160931779093,
 2.5914488541795206,
 3.650642999863807,
 3.589521418507344,
 3.5725401908503946,
 3.3559820000314358,
 4.23813313508115,
 4.091195242676806,
 3.9439061900201215,
 4.234074227565612,
 4.103346749382193,
 3.9192240441726085,
 4.116585849252806,
 4.058103684079166,
 3.654678470305902,
 4.285385046882468,
 4.131256114051704,
 3.6972038577942787,
 3.7562504960061576,
 3.1811806621922987,
 3.798052707146057,
 3.8381787830553895,
 3.60903463082887,
 4.021565871647508,
 4.036511325641959,
 4.070748995713713,
 3.9227272532642945,
 4.210859905961021,
 4.092533333817596,
 4.08898038536281,
 3.9403928007705304,
 4.070230636091628,
 3.6251368101075934,
 3.422026429830373,
 3.6136588119615176,
 3.1653666850842948,
 3.624613345471233,
 2.820045474431234,
 2.640688377714837,
 3.410999142462605,
 3.6631616325098206,
 3.351964862844904,
 2.8718321325016913,
 2.8073176323793634,
 3.3650663769403835,
 3.35506692138211,
 3.379684222441762,
 3.6576566028045785,
 3.6413547094411625,
 3.169694580828078,
 3.632548758354192,
 2.5969890709298533,
 3.349421929873562,
 3.8118280568839675,
 3.626803636777407,
 3.340995473646881,
 3.6500856202119314,
 3.6379511068228187,
 3.664747233441458,
 3.4592857755155095,
 3.484180560162272,
 3.517146355693753,
 3.0611118249891023,
 3.569437780710379,
 3.2889825447526535,
 3.2489620446780525,
 3.1922251230000533,
 3.687109453628103,
 3.3330630756221487,
 3.112141017210939,
 2.803322372141635,
 3.3168018255059946,
 3.4276124955564113,
 3.1497310136850585,
 3.401664361132108,
 3.020395321621669,
 2.8269102597186193,
 3.6166084273760855,
 3.314719356114334,
 3.275072412557014,
 3.463155179399933,
 3.428144004923932,
 2.950563118091818,
 3.332124941191086,
 3.504597690091636,
 3.504465608492209,
 3.8053490390087483,
 3.797452183443258,
 3.3859252515493257,
 3.251909865213377,
 3.3885723614376255,
 3.6997408895497617,
 3.80397282669936,
 3.82902134473062,
 3.437706444536305,
 3.5756723824493215,
 3.6058920312590397,
 3.65426630104414,
 3.099789128531885,
 3.7811498445478375,
 3.6291257562312578,
 3.2616308112740913,
 3.3633257303544974,
 3.5880353373035083,
 3.788203573530477,
 3.9234644819269353,
 3.8233611019772025,
 3.019378105597255,
 3.6159015205661813,
 3.56798379291986,
 3.770981575259848,
 3.3841180546363816,
 3.0046386414885675,
 3.2007536239141188,
 3.2859050733891437,
 3.201796216828595,
 3.906780674506023,
 3.8161771363838675,
 3.8710683957820153,
 3.5836685860337134,
 3.51479883241311,
 3.7775811710909446,
 3.412754064616369,
 3.5992780309695886,
 3.6313912398050263,
 3.7877389128216974,
 3.386938239868321,
 3.512012019362388,
 3.480475271584911,
 3.750220234213653,
 3.5138538557548467,
 3.8314269745014524,
 3.6901037393503437,
 3.786094686101053,
 3.9164317726703137,
 3.767489012167932,
 3.5541506643619156,
 3.665474282144602,
 3.716635856074928,
 3.3360474983473836,
 3.5758261210926783,
 3.316369645050493,
 3.5008702424944067,
 3.4510185566259453,
 3.9205933521813807,
 3.5879721931439597,
 3.414430620547401,
 3.754156354475071,
 3.826996668545484,
 3.408800558839675,
 3.6210869288967875,
 3.6635843382686524,
 3.6619790848042544,
 3.790613722065599,
 3.6665653754295566,
 3.7318473930470017,
 3.418223101082479,
 3.621323897077162,
 3.6401944016530003,
 3.1883348449125557,
 3.5906449783066057,
 3.6987185044524873,
 3.463167654227209,
 3.600316070861681,
 3.564731006879179,
 3.7424691415135047,
 3.419456830672572,
 3.1392525016053954,
 3.62737192931085,
 3.6372300843841465,
 3.8165373364082007,
 3.878174927146931,
 3.712165905059023,
 3.293679189589674,
 3.6958102078488646,
 3.3653702989836165,
 3.4918294376411985,
 3.668472111283428,
 3.2967996121969247,
 3.372897112285616,
 3.478104281470249,
 3.7705951438687926,
 3.793965154274244,
 4.175072041878362,
 4.035264703813151,
 4.28245187826088,
 4.286616406541113,
 2.831994769226361,
 3.735343492230857,
 4.0187780540054066,
 3.8716825978106155,
 4.016093271558152,
 3.4875372017923856,
 4.12847840462401,
 3.805836955018541,
 3.5295733506898994,
 4.130458315493054,
 4.025466202793521,
 3.975535320016142,
 4.028797033375631,
 4.0976281469047064,
 4.102605296848603,
 4.308436204891911,
 4.397841898954331,
 4.251461438117541,
 4.382344333194373,
 4.242830307634108,
 4.320390290213093,
 4.121118074605535,
 4.273657429046316,
 4.334219512209989,
 4.1923445461392115,
 4.10164965381737,
 4.044876206830833,
 4.325958462532398,
 4.17872215832907,
 3.3353681172553435,
 4.204628437822268,
 3.787873663577906,
 4.461724150816097,
 3.6990590495894775,
 3.822841169054173,
 3.7774837124710117,
 4.3698174337792475,
 4.282401585671673,
 3.446360547960484,
 4.1903863025534935,
 3.939188276318338,
 4.281231163187949,
 3.616760893996745,
 4.04738683399195,
 3.852370678865978,
 4.212795353749714,
 4.070025068146042,
 3.6669150261363552,
 4.057600889828195,
 3.736323982663374,
 4.029455198839876,
 4.247900034552805,
 4.00048305531053,
 4.059708801219759,
 3.7418578081232936,
 4.42628433830096,
 4.147227008378422,
 3.867817273226882,
 3.9496223973544304,
 4.278128760862522,
 4.000536105002841,
 3.93060043063977,
 4.22751055293666,
 4.193845341479179,
 4.072395714322277,
 4.261665619207284,
 4.264807524927611,
 4.003941960371029,
 4.0758370220929345,
 4.136461575260408,
 3.978987606630334,
 4.116006688509599,
 3.644493648593897,
 3.9433826866286625,
 4.1946307837084325,
 3.8655078917837264,
 4.024256718421073,
 4.209657703049533,
 4.132829432470896,
 4.095524111346796,
 3.8415254952850026,
 4.048277454817721,
 3.8677208495126307,
 3.9505366535840176,
 4.302357201322456,
 3.907304092120023,
 4.109791002800395,
 3.899657795470843,
 3.9329611140760594,
 3.810846630845161,
 3.590771942853492,
 3.6073459284476805,
 4.004532609695754,
 4.111925569503607,
 3.5067626142386557,
 3.542723412023501,
 3.515381849952002,
 3.838740986583487,
 4.091490718460255,
 4.189880290036323,
 3.9333684112581575,
 3.943600057300799,
 3.795446360788738,
 3.558705756433915,
 4.032848630814876,
 4.016180662547429,
 4.042981843334419,
 4.0023090789413525,
 3.7890594750120927,
 4.2261969857349335,
 4.246950453307495,
 3.4629893385869606,
 3.651189504408554,
 3.352763831248396,
 3.450736872511364,
 3.3391369123001393,
 4.221784158846309,
 3.6167359820774867,
 3.6607573254334738,
 3.897422243328952,
 3.800582578643258,
 3.775673281945382,
 3.465134448442311,
 3.8614485658074544,
 3.8435878315434984,
 3.598216093113708,
 3.630761622978339,
 3.233201200529939,
 3.5080035487755885,
 3.078815579364053,
 3.87055193032226,
 3.639743709619814,
 3.6024802027661504,
 2.9257563171417647,
 3.6733863150852217,
 3.746720851414561,
 2.6386140460811265,
 3.4070533604514117,
 3.5027567036493403,
 4.033432104126735,
 4.128668331965035,
 3.754855900364018,
 3.678288741574721,
 3.7828529956097303,
 3.6532947300629934,
 4.10694927129349,
 4.015034244226026,
 4.011601761873531,
 3.5327301722795177,
 3.9962379180737453,
 4.072178049522104,
 3.9978203323402504,
 4.06427724472279,
 3.982205346046085,
 4.160561002249897,
 4.250945349175639,
 3.937235079883291,
 3.961523562615371,
 4.057552310353396,
 3.767521898402454,
 3.484406508139913,
 3.547403383430913,
 3.7208683416160055,
 3.8570431190416663,
 3.455470100974073,
 3.1851689647199763,
 3.0306489319375123,
 3.68618436022691,
 3.251630723701259,
 3.6965172534345907,
 3.634902107399767,
 3.6444005584800014,
 3.9735415337750597,
 3.8808864366836087,
 3.1695010236291803,
 3.168818403858649,
 2.8443790765911685,
 3.043842111796099,
 2.726735857259025,
 3.110793315959576,
 2.9765520586067575,
 2.626985602763708,
 2.9004357751058523,
 3.0013934221723626,
 2.8468897215528766,
 2.700875776823497,
 2.713603882269266,
 3.0405567154999966,
 3.0698394562797002,
 3.02308759029293,
 3.20031361268166,
 3.029257108632576,
 2.786455079920967,
 2.679656925497446,
 3.0607885234224432,
 3.024116934348202,
 2.9696048776708337,
 2.7991719901645005,
 3.2308649727918013,
 2.7274780430350716,
 2.7687722209619046,
 2.519456131174317,
 2.807750379974621,

In [16]:
test['rating'] = ratings
test.head()

   userId  movieId    rating
0       1     2011  3.573181
1       1     4144  4.034689
2       1     5767  3.651215
3       1     6711  3.765137
4       1     7318  3.375690

In [ ]:
# test = pd.read_csv('test.csv')

In [ ]:
# test['Id'] = test[['userId', 'movieId']].astype(str).agg('_'.join, axis=1)
test.head()

   userId  movieId
0       1   2011.0
1       1   4144.0
2       1   5767.0
3       1   6711.0
4       1   7318.0

In [17]:
#Converting the movieId column to str type. This allows us to join or columns contents with ease.
test['movieId'] = test['movieId'].astype(str)
test['movieId']

0          2011
1          4144
2          5767
3          6711
4          7318
           ...
5000014    4079
5000015    4467
5000016    4980
5000017    5689
5000018    7153
Name: movieId, Length: 5000019, dtype: object

In [18]:
#This for loop is simply used to remove '.0' from movieId in order to make it identical to the submission csv!
# meh = []
# for i in test['movieId']:
#   i = i[:-2]
#   meh.append(i)

# meh
test.head()

   userId movieId    rating
0       1    2011  3.573181
1       1    4144  4.034689
2       1    5767  3.651215
3       1    6711  3.765137
4       1    7318  3.375690

In [ ]:
# test['movieId'] = meh
# test.head()

   userId movieId
0       1    2011
1       1    4144
2       1    5767
3       1    6711
4       1    7318

In [19]:
test['Id'] = test[['userId', 'movieId']].astype(str).agg('_'.join, axis=1)

In [20]:
# test.dropna(inplace=True)
test.head()

   userId movieId    rating      Id
0       1    2011  3.573181  1_2011
1       1    4144  4.034689  1_4144
2       1    5767  3.651215  1_5767
3       1    6711  3.765137  1_6711
4       1    7318  3.375690  1_7318

In [21]:
len(test)

5000019

In [22]:
test_df = test.copy()
test_df.head()

   userId movieId    rating      Id
0       1    2011  3.573181  1_2011
1       1    4144  4.034689  1_4144
2       1    5767  3.651215  1_5767
3       1    6711  3.765137  1_6711
4       1    7318  3.375690  1_7318

In [23]:
test_df.drop(columns=['movieId', 'userId'], inplace=True)
# test.head()
test_df.to_csv('Submission_2.csv', index=False)
test_df

           rating           Id
0        3.573181       1_2011
1        4.034689       1_4144
2        3.651215       1_5767
3        3.765137       1_6711
4        3.375690       1_7318
...           ...          ...
5000014  3.394499  162541_4079
5000015  3.610409  162541_4467
5000016  3.256278  162541_4980
5000017  3.141016  162541_5689
5000018  3.848549  162541_7153

[5000019 rows x 2 columns]

In [ ]:
sample.head()

       Id  rating
0  1_2011     1.0
1  1_4144     1.0
2  1_5767     1.0
3  1_6711     1.0
4  1_7318     1.0

In [ ]:
# ratings = []
# for i in range(min(100, len(users_ids))):
#     for j in range(min(100, len(items_ids))):
#         ratings.append(algo.predict(users_ids[i], items_ids[j]).est)
# print len(set(ratings))

In [ ]:
# [i for i in test.iterrows()]

[(0, userId        1.0
  movieId    2011.0
  Name: 0, dtype: float64), (1, userId        1.0
  movieId    4144.0
  Name: 1, dtype: float64), (2, userId        1.0
  movieId    5767.0
  Name: 2, dtype: float64), (3, userId        1.0
  movieId    6711.0
  Name: 3, dtype: float64), (4, userId        1.0
  movieId    7318.0
  Name: 4, dtype: float64), (5, userId        1.0
  movieId    8405.0
  Name: 5, dtype: float64), (6, userId        1.0
  movieId    8786.0
  Name: 6, dtype: float64), (7, userId       2.0
  movieId    150.0
  Name: 7, dtype: float64), (8, userId       2.0
  movieId    356.0
  Name: 8, dtype: float64), (9, userId       2.0
  movieId    497.0
  Name: 9, dtype: float64), (10, userId       2.0
  movieId    588.0
  Name: 10, dtype: float64), (11, userId       2.0
  movieId    653.0
  Name: 11, dtype: float64), (12, userId        2.0
  movieId    1080.0
  Name: 12, dtype: float64), (13, userId        2.0
  movieId    1196.0
  Name: 13, dtype: float64), (14, userId        2.0
  movieId    1198.0
  Name: 14, dtype: float64), (15, userId        2.0
  movieId    1201.0
  Name: 15, dtype: float64), (16, userId        2.0
  movieId    1299.0
  Name: 16, dtype: float64), (17, userId        2.0
  movieId    1485.0
  Name: 17, dtype: float64), (18, userId        2.0
  movieId    1580.0
  Name: 18, dtype: float64), (19, userId        2.0
  movieId    1693.0
  Name: 19, dtype: float64), (20, userId        2.0
  movieId    2028.0
  Name: 20, dtype: float64), (21, userId        2.0
  movieId    2083.0
  Name: 21, dtype: float64), (22, userId        2.0
  movieId    2617.0
  Name: 22, dtype: float64), (23, userId        2.0
  movieId    2640.0
  Name: 23, dtype: float64), (24, userId        2.0
  movieId    2918.0
  Name: 24, dtype: float64), (25, userId        2.0
  movieId    3098.0
  Name: 25, dtype: float64), (26, userId        2.0
  movieId    3114.0
  Name: 26, dtype: float64), (27, userId        2.0
  movieId    3510.0
  Name: 27, dtype: float64), (28, userId        2.0
  movieId    3994.0
  Name: 28, dtype: float64), (29, userId        2.0
  movieId    4103.0
  Name: 29, dtype: float64), (30, userId        2.0
  movieId    4963.0
  Name: 30, dtype: float64), (31, userId        2.0
  movieId    5103.0
  Name: 31, dtype: float64), (32, userId        2.0
  movieId    5955.0
  Name: 32, dtype: float64), (33, userId        2.0
  movieId    6156.0
  Name: 33, dtype: float64), (34, userId        2.0
  movieId    6287.0
  Name: 34, dtype: float64), (35, userId        2.0
  movieId    6311.0
  Name: 35, dtype: float64), (36, userId        2.0
  movieId    6753.0
  Name: 36, dtype: float64), (37, userId        2.0
  movieId    7075.0
  Name: 37, dtype: float64), (38, userId        2.0
  movieId    7153.0
  Name: 38, dtype: float64), (39, userId        2.0
  movieId    7386.0
  Name: 39, dtype: float64), (40, userId        2.0
  movieId    8961.0
  Name: 40, dtype: float64), (41, userId         2.0
  movieId    30848.0
  Name: 41, dtype: float64), (42, userId         2.0
  movieId    33493.0
  Name: 42, dtype: float64), (43, userId         2.0
  movieId    34162.0
  Name: 43, dtype: float64), (44, userId         2.0
  movieId    40815.0
  Name: 44, dtype: float64), (45, userId     3.0
  movieId    1.0
  Name: 45, dtype: float64), (46, userId       3.0
  movieId    260.0
  Name: 46, dtype: float64), (47, userId       3.0
  movieId    858.0
  Name: 47, dtype: float64), (48, userId        3.0
  movieId    1198.0
  Name: 48, dtype: float64), (49, userId        3.0
  movieId    1201.0
  Name: 49, dtype: float64), (50, userId        3.0
  movieId    1214.0
  Name: 50, dtype: float64), (51, userId        3.0
  movieId    1217.0
  Name: 51, dtype: float64), (52, userId        3.0
  movieId    1221.0
  Name: 52, dtype: float64), (53, userId        3.0
  movieId    1222.0
  Name: 53, dtype: float64), (54, userId        3.0
  movieId    1676.0
  Name: 54, dtype: float64), (55, userId        3.0
  movieId    1909.0
  Name: 55, dtype: float64), (56, userId        3.0
  movieId    1960.0
  Name: 56, dtype: float64), (57, userId        3.0
  movieId    3471.0
  Name: 57, dtype: float64), (58, userId        3.0
  movieId    3534.0
  Name: 58, dtype: float64), (59, userId        3.0
  movieId    3730.0
  Name: 59, dtype: float64), (60, userId        3.0
  movieId    3785.0
  Name: 60, dtype: float64), (61, userId        3.0
  movieId    3948.0
  Name: 61, dtype: float64), (62, userId        3.0
  movieId    3979.0
  Name: 62, dtype: float64), (63, userId        3.0
  movieId    4025.0
  Name: 63, dtype: float64), (64, userId        3.0
  movieId    4148.0
  Name: 64, dtype: float64), (65, userId        3.0
  movieId    4383.0
  Name: 65, dtype: float64), (66, userId        3.0
  movieId    4816.0
  Name: 66, dtype: float64), (67, userId        3.0
  movieId    4979.0
  Name: 67, dtype: float64), (68, userId        3.0
  movieId    5219.0
  Name: 68, dtype: float64), (69, userId        3.0
  movieId    5254.0
  Name: 69, dtype: float64), (70, userId        3.0
  movieId    5291.0
  Name: 70, dtype: float64), (71, userId        3.0
  movieId    5313.0
  Name: 71, dtype: float64), (72, userId        3.0
  movieId    5364.0
  Name: 72, dtype: float64), (73, userId        3.0
  movieId    5479.0
  Name: 73, dtype: float64), (74, userId        3.0
  movieId    5528.0
  Name: 74, dtype: float64), (75, userId        3.0
  movieId    5669.0
  Name: 75, dtype: float64), (76, userId        3.0
  movieId    5679.0
  Name: 76, dtype: float64), (77, userId        3.0
  movieId    5782.0
  Name: 77, dtype: float64), (78, userId        3.0
  movieId    5872.0
  Name: 78, dtype: float64), (79, userId        3.0
  movieId    5900.0
  Name: 79, dtype: float64), (80, userId        3.0
  movieId    5944.0
  Name: 80, dtype: float64), (81, userId        3.0
  movieId    5954.0
  Name: 81, dtype: float64), (82, userId        3.0
  movieId    6213.0
  Name: 82, dtype: float64), (83, userId        3.0
  movieId    6323.0
  Name: 83, dtype: float64), (84, userId        3.0
  movieId    6541.0
  Name: 84, dtype: float64), (85, userId        3.0
  movieId    6586.0
  Name: 85, dtype: float64), (86, userId        3.0
  movieId    6934.0
  Name: 86, dtype: float64), (87, userId        3.0
  movieId    6952.0
  Name: 87, dtype: float64), (88, userId        3.0
  movieId    7163.0
  Name: 88, dtype: float64), (89, userId        3.0
  movieId    7438.0
  Name: 89, dtype: float64), (90, userId        3.0
  movieId    7439.0
  Name: 90, dtype: float64), (91, userId        3.0
  movieId    7445.0
  Name: 91, dtype: float64), (92, userId        3.0
  movieId    8360.0
  Name: 92, dtype: float64), (93, userId        3.0
  movieId    8368.0
  Name: 93, dtype: float64), (94, userId        3.0
  movieId    8370.0
  Name: 94, dtype: float64), (95, userId        3.0
  movieId    8529.0
  Name: 95, dtype: float64), (96, userId        3.0
  movieId    8641.0
  Name: 96, dtype: float64), (97, userId        3.0
  movieId    8861.0
  Name: 97, dtype: float64), (98, userId        3.0
  movieId    8874.0
  Name: 98, dtype: float64), (99, userId         3.0
  movieId    27706.0
  Name: 99, dtype: float64), (100, userId         3.0
  movieId    27793.0
  Name: 100, dtype: float64), (101, userId         3.0
  movieId    31184.0
  Name: 101, dtype: float64), (102, userId         3.0
  movieId    31685.0
  Name: 102, dtype: float64), (103, userId         3.0
  movieId    31696.0
  Name: 103, dtype: float64), (104, userId         3.0
  movieId    31804.0
  Name: 104, dtype: float64), (105, userId         3.0
  movieId    33615.0
  Name: 105, dtype: float64), (106, userId         3.0
  movieId    34150.0
  Name: 106, dtype: float64), (107, userId         3.0
  movieId    34162.0
  Name: 107, dtype: float64), (108, userId         3.0
  movieId    35836.0
  Name: 108, dtype: float64), (109, userId         3.0
  movieId    37386.0
  Name: 109, dtype: float64), (110, userId         3.0
  movieId    44022.0
  Name: 110, dtype: float64), (111, userId         3.0
  movieId    46972.0
  Name: 111, dtype: float64), (112, userId         3.0
  movieId    47610.0
  Name: 112, dtype: float64), (113, userId         3.0
  movieId    48780.0
  Name: 113, dtype: float64), (114, userId         3.0
  movieId    49272.0
  Name: 114, dtype: float64), (115, userId         3.0
  movieId    49278.0
  Name: 115, dtype: float64), (116, userId         3.0
  movieId    49530.0
  Name: 116, dtype: float64), (117, userId         3.0
  movieId    51255.0
  Name: 117, dtype: float64), (118, userId         3.0
  movieId    53121.0
  Name: 118, dtype: float64), (119, userId         3.0
  movieId    53129.0
  Name: 119, dtype: float64), (120, userId         3.0
  movieId    53464.0
  Name: 120, dtype: float64), (121, userId         3.0
  movieId    55765.0
  Name: 121, dtype: float64), (122, userId         3.0
  movieId    55805.0
  Name: 122, dtype: float64), (123, userId         3.0
  movieId    58559.0
  Name: 123, dtype: float64), (124, userId         3.0
  movieId    59315.0
  Name: 124, dtype: float64), (125, userId         3.0
  movieId    59501.0
  Name: 125, dtype: float64), (126, userId         3.0
  movieId    60069.0
  Name: 126, dtype: float64), (127, userId         3.0
  movieId    61350.0
  Name: 127, dtype: float64), (128, userId         3.0
  movieId    64839.0
  Name: 128, dtype: float64), (129, userId         3.0
  movieId    68319.0
  Name: 129, dtype: float64), (130, userId         3.0
  movieId    68793.0
  Name: 130, dtype: float64), (131, userId         3.0
  movieId    68952.0
  Name: 131, dtype: float64), (132, userId         3.0
  movieId    71057.0
  Name: 132, dtype: float64), (133, userId         3.0
  movieId    71464.0
  Name: 133, dtype: float64), (134, userId         3.0
  movieId    72209.0
  Name: 134, dtype: float64), (135, userId         3.0
  movieId    74789.0
  Name: 135, dtype: float64), (136, userId         3.0
  movieId    76077.0
  Name: 136, dtype: float64), (137, userId         3.0
  movieId    78499.0
  Name: 137, dtype: float64), (138, userId         3.0
  movieId    81845.0
  Name: 138, dtype: float64), (139, userId         3.0
  movieId    82202.0
  Name: 139, dtype: float64), (140, userId         3.0
  movieId    85020.0
  Name: 140, dtype: float64), (141, userId         3.0
  movieId    85056.0
  Name: 141, dtype: float64), (142, userId         3.0
  movieId    88140.0
  Name: 142, dtype: float64), (143, userId         3.0
  movieId    96610.0
  Name: 143, dtype: float64), (144, userId         3.0
  movieId    97225.0
  Name: 144, dtype: float64), (145, userId          3.0
  movieId    102445.0
  Name: 145, dtype: float64), (146, userId          3.0
  movieId    102880.0
  Name: 146, dtype: float64), (147, userId          3.0
  movieId    102903.0
  Name: 147, dtype: float64), (148, userId          3.0
  movieId    103141.0
  Name: 148, dtype: float64), (149, userId          3.0
  movieId    103772.0
  Name: 149, dtype: float64), (150, userId          3.0
  movieId    105213.0
  Name: 150, dtype: float64), (151, userId          3.0
  movieId    109374.0
  Name: 151, dtype: float64), (152, userId          3.0
  movieId    109487.0
  Name: 152, dtype: float64), (153, userId          3.0
  movieId    111443.0
  Name: 153, dtype: float64), (154, userId          3.0
  movieId    111659.0
  Name: 154, dtype: float64), (155, userId          3.0
  movieId    112138.0
  Name: 155, dtype: float64), (156, userId          3.0
  movieId    114847.0
  Name: 156, dtype: float64), (157, userId          3.0
  movieId    115569.0
  Name: 157, dtype: float64), (158, userId          3.0
  movieId    116897.0
  Name: 158, dtype: float64), (159, userId          3.0
  movieId    117529.0
  Name: 159, dtype: float64), (160, userId          3.0
  movieId    122912.0
  Name: 160, dtype: float64), (161, userId          3.0
  movieId    135143.0
  Name: 161, dtype: float64), (162, userId          3.0
  movieId    136449.0
  Name: 162, dtype: float64), (163, userId          3.0
  movieId    143385.0
  Name: 163, dtype: float64), (164, userId          3.0
  movieId    151763.0
  Name: 164, dtype: float64), (165, userId        4.0
  movieId    1036.0
  Name: 165, dtype: float64), (166, userId        4.0
  movieId    1136.0
  Name: 166, dtype: float64), (167, userId        4.0
  movieId    1196.0
  Name: 167, dtype: float64), (168, userId        4.0
  movieId    1220.0
  Name: 168, dtype: float64), (169, userId        4.0
  movieId    1907.0
  Name: 169, dtype: float64), (170, userId        4.0
  movieId    2716.0
  Name: 170, dtype: float64), (171, userId        4.0
  movieId    2985.0
  Name: 171, dtype: float64), (172, userId        4.0
  movieId    3114.0
  Name: 172, dtype: float64), (173, userId        4.0
  movieId    3671.0
  Name: 173, dtype: float64), (174, userId        4.0
  movieId    4709.0
  Name: 174, dtype: float64), (175, userId        4.0
  movieId    4816.0
  Name: 175, dtype: float64), (176, userId        4.0
  movieId    5110.0
  Name: 176, dtype: float64), (177, userId        4.0
  movieId    5418.0
  Name: 177, dtype: float64), (178, userId        4.0
  movieId    5903.0
  Name: 178, dtype: float64), (179, userId        4.0
  movieId    6863.0
  Name: 179, dtype: float64), (180, userId        4.0
  movieId    7438.0
  Name: 180, dtype: float64), (181, userId        4.0
  movieId    7569.0
  Name: 181, dtype: float64), (182, userId        4.0
  movieId    8665.0
  Name: 182, dtype: float64), (183, userId         4.0
  movieId    34048.0
  Name: 183, dtype: float64), (184, userId         4.0
  movieId    45431.0
  Name: 184, dtype: float64), (185, userId         4.0
  movieId    49649.0
  Name: 185, dtype: float64), (186, userId         4.0
  movieId    53125.0
  Name: 186, dtype: float64), (187, userId         4.0
  movieId    69122.0
  Name: 187, dtype: float64), (188, userId         4.0
  movieId    77561.0
  Name: 188, dtype: float64), (189, userId         4.0
  movieId    82461.0
  Name: 189, dtype: float64), (190, userId         4.0
  movieId    83134.0
  Name: 190, dtype: float64), (191, userId         4.0
  movieId    85414.0
  Name: 191, dtype: float64), (192, userId         4.0
  movieId    86345.0
  Name: 192, dtype: float64), (193, userId         4.0
  movieId    88125.0
  Name: 193, dtype: float64), (194, userId         4.0
  movieId    91529.0
  Name: 194, dtype: float64), (195, userId         4.0
  movieId    93510.0
  Name: 195, dtype: float64), (196, userId         4.0
  movieId    93840.0
  Name: 196, dtype: float64), (197, userId         4.0
  movieId    96079.0
  Name: 197, dtype: float64), (198, userId         4.0
  movieId    96737.0
  Name: 198, dtype: float64), (199, userId         4.0
  movieId    97304.0
  Name: 199, dtype: float64), (200, userId          4.0
  movieId    103228.0
  Name: 200, dtype: float64), (201, userId          4.0
  movieId    103772.0
  Name: 201, dtype: float64), (202, userId          4.0
  movieId    109487.0
  Name: 202, dtype: float64), (203, userId          4.0
  movieId    111759.0
  Name: 203, dtype: float64), (204, userId          4.0
  movieId    111781.0
  Name: 204, dtype: float64), (205, userId          4.0
  movieId    112852.0
  Name: 205, dtype: float64), (206, userId          4.0
  movieId    122882.0
  Name: 206, dtype: float64), (207, userId          4.0
  movieId    122918.0
  Name: 207, dtype: float64), (208, userId          4.0
  movieId    134130.0
  Name: 208, dtype: float64), (209, userId          4.0
  movieId    136020.0
  Name: 209, dtype: float64), (210, userId          4.0
  movieId    148626.0
  Name: 210, dtype: float64), (211, userId          4.0
  movieId    156706.0
  Name: 211, dtype: float64), (212, userId          4.0
  movieId    159817.0
  Name: 212, dtype: float64), (213, userId          4.0
  movieId    189333.0
  Name: 213, dtype: float64), (214, userId      5.0
  movieId    36.0
  Name: 214, dtype: float64), (215, userId       5.0
  movieId    122.0
  Name: 215, dtype: float64), (216, userId       5.0
  movieId    147.0
  Name: 216, dtype: float64), (217, userId       5.0
  movieId    191.0
  Name: 217, dtype: float64), (218, userId       5.0
  movieId    218.0
  Name: 218, dtype: float64), (219, userId       5.0
  movieId    231.0
  Name: 219, dtype: float64), (220, userId       5.0
  movieId    248.0
  Name: 220, dtype: float64), (221, userId       5.0
  movieId    253.0
  Name: 221, dtype: float64), (222, userId       5.0
  movieId    277.0
  Name: 222, dtype: float64), (223, userId       5.0
  movieId    333.0
  Name: 223, dtype: float64), (224, userId       5.0
  movieId    337.0
  Name: 224, dtype: float64), (225, userId       5.0
  movieId    344.0
  Name: 225, dtype: float64), (226, userId       5.0
  movieId    372.0
  Name: 226, dtype: float64), (227, userId       5.0
  movieId    435.0
  Name: 227, dtype: float64), (228, userId       5.0
  movieId    441.0
  Name: 228, dtype: float64), (229, userId       5.0
  movieId    457.0
  Name: 229, dtype: float64), (230, userId       5.0
  movieId    491.0
  Name: 230, dtype: float64), (231, userId       5.0
  movieId    608.0
  Name: 231, dtype: float64), (232, userId       5.0
  movieId    628.0
  Name: 232, dtype: float64), (233, userId       5.0
  movieId    780.0
  Name: 233, dtype: float64), (234, userId        5.0
  movieId    1016.0
  Name: 234, dtype: float64), (235, userId        5.0
  movieId    1196.0
  Name: 235, dtype: float64), (236, userId        5.0
  movieId    1235.0
  Name: 236, dtype: float64), (237, userId        5.0
  movieId    1270.0
  Name: 237, dtype: float64), (238, userId       6.0
  movieId    161.0
  Name: 238, dtype: float64), (239, userId       6.0
  movieId    260.0
  Name: 239, dtype: float64), (240, userId       6.0
  movieId    608.0
  Name: 240, dtype: float64), (241, userId       6.0
  movieId    919.0
  Name: 241, dtype: float64), (242, userId        6.0
  movieId    1466.0
  Name: 242, dtype: float64), (243, userId        6.0
  movieId    1704.0
  Name: 243, dtype: float64), (244, userId      7.0
  movieId    17.0
  Name: 244, dtype: float64), (245, userId       7.0
  movieId    165.0
  Name: 245, dtype: float64), (246, userId       7.0
  movieId    185.0
  Name: 246, dtype: float64), (247, userId       7.0
  movieId    308.0
  Name: 247, dtype: float64), (248, userId       7.0
  movieId    590.0
  Name: 248, dtype: float64), (249, userId      8.0
  movieId    10.0
  Name: 249, dtype: float64), (250, userId      8.0
  movieId    25.0
  Name: 250, dtype: float64), (251, userId      8.0
  movieId    27.0
  Name: 251, dtype: float64), (252, userId      8.0
  movieId    50.0
  Name: 252, dtype: float64), (253, userId      8.0
  movieId    69.0
  Name: 253, dtype: float64), (254, userId       8.0
  movieId    207.0
  Name: 254, dtype: float64), (255, userId       8.0
  movieId    237.0
  Name: 255, dtype: float64), (256, userId       8.0
  movieId    260.0
  Name: 256, dtype: float64), (257, userId       8.0
  movieId    356.0
  Name: 257, dtype: float64), (258, userId       8.0
  movieId    440.0
  Name: 258, dtype: float64), (259, userId       8.0
  movieId    588.0
  Name: 259, dtype: float64), (260, userId       8.0
  movieId    593.0
  Name: 260, dtype: float64), (261, userId       8.0
  movieId    750.0
  Name: 261, dtype: float64), (262, userId       8.0
  movieId    923.0
  Name: 262, dtype: float64), (263, userId       8.0
  movieId    953.0
  Name: 263, dtype: float64), (264, userId        8.0
  movieId    1020.0
  Name: 264, dtype: float64), (265, userId        8.0
  movieId    1047.0
  Name: 265, dtype: float64), (266, userId        8.0
  movieId    1092.0
  Name: 266, dtype: float64), (267, userId        8.0
  movieId    1210.0
  Name: 267, dtype: float64), (268, userId        8.0
  movieId    1240.0
  Name: 268, dtype: float64), (269, userId        8.0
  movieId    1259.0
  Name: 269, dtype: float64), (270, userId        8.0
  movieId    1287.0

In [ ]:
uid = str(test.iloc[:,:-1].values)
iid = str(test.iloc[:,-1].values)
uid

'[[    1]\n [    1]\n [    1]\n ...\n [22854]\n [22854]\n [   22]]'

In [ ]:
train.head()

   userId  movieId  rating   timestamp
0    5163    57669     4.0  1518349992
1  106343        5     4.5  1206238739
2  146790     5459     5.0  1076215539
3  106362    32296     2.0  1423042565
4    9041      366     3.0   833375837

In [ ]:
test.head()

   userId  movieId
0       1   2011.0
1       1   4144.0
2       1   5767.0
3       1   6711.0
4       1   7318.0

In [ ]:
results_df = pd.DataFrame.from_dict(gs.cv_results)
results_df

   split0_test_rmse  split1_test_rmse  ...  param_lr_all  param_reg_all
0          0.993054          0.993151  ...         0.002            0.4
1          0.995758          0.996060  ...         0.002            0.6
2          0.970135          0.970149  ...         0.005            0.4
3          0.973999          0.974010  ...         0.005            0.6
4          0.975586          0.975769  ...         0.002            0.4
5          0.979268          0.979243  ...         0.002            0.6
6          0.953947          0.954159  ...         0.005            0.4
7          0.958886          0.959029  ...         0.005            0.6

[8 rows x 20 columns]

Looking at the other data:

In [ ]:
movies = pd.read_csv('movies.csv')
genome_scores = pd.read_csv('genome_scores.csv')
genome_tags = pd.read_csv('genome_tags.csv')
imdb_data = pd.read_csv('imdb_data.csv')
tags = pd.read_csv('tags.csv')
links = pd.read_csv('links.csv')
sample = pd.read_csv('sample_submission.csv')

In [ ]:
sample.head()

       Id  rating
0  1_2011     1.0
1  1_4144     1.0
2  1_5767     1.0
3  1_6711     1.0
4  1_7318     1.0

In [ ]:
test = test.dropna()

In [ ]:
test

        userId  movieId
0            1   2011.0
1            1   4144.0
2            1   5767.0
3            1   6711.0
4            1   7318.0
...        ...      ...
694261   22854  79879.0
694262   22854  80693.0
694263   22854  80831.0
694264   22854  81591.0
694265   22854  81847.0

[694266 rows x 2 columns]

In [ ]:
train.head(50)

    userId  movieId  rating     timestamp
0     5163    57669     4.0  1.518350e+09
1   106343        5     4.5  1.206239e+09
2   146790     5459     5.0  1.076216e+09
3   106362    32296     2.0  1.423043e+09
4     9041      366     3.0  8.333758e+08
5   120949    81768     3.0  1.289595e+09
6    19630    62049     4.0  1.246730e+09
7    21066     2282     1.0  9.457859e+08
8   117563   120474     4.0  1.515108e+09
9   144018     1997     5.0  1.109968e+09
10   40858     5025     3.5  1.090062e+09
11   80119    92259     3.5  1.435636e+09
12    6063    33493     3.0  1.236049e+09
13   97844     1784     3.5  1.111630e+09
14   55909     3978     2.5  1.111555e+09
15   12942    48394     0.5  1.280366e+09
16  161472     3355     4.0  1.229975e+09
17  117890   152077     3.5  1.488976e+09
18   46581   108190     2.0  1.465962e+09
19   33970     1265     4.0  1.463280e+09
20  109194     2011     4.0  1.547944e+09
21   95075    41571     3.0  1.141843e+09
22   57239      150     4.0  9.971548e+08
23  118706   116660     4.0  1.568907e+09
24  109406     6213     3.5  1.363915e+09
25  146347     1129     4.0  9.747485e+08
26   89538     6538     3.5  1.288027e+09
27   80854     2716     4.0  9.416169e+08
28   30258     4993     4.5  1.114161e+09
29  130817     2791     5.0  1.463918e+09
30   50882    89745     5.0  1.549950e+09
31   11932    53125     3.0  1.482034e+09
32  157019    64983     4.0  1.538177e+09
33   36810     2012     1.0  9.426666e+08
34   13626      974     4.0  8.519783e+08
35  127966     1240     4.0  9.636809e+08
36  104941     1909     5.0  9.750549e+08
37   20435   187593     5.0  1.547493e+09
38   51014    56757     2.0  1.287106e+09
39  131295   103042     1.5  1.465234e+09
40   58822     1580     4.0  1.250130e+09
41  113429     1909     3.0  1.032118e+09
42  142156     3991     1.0  1.331437e+09
43  106144    30793     3.5  1.136843e+09
44  129978    96691     0.5  1.389694e+09
45  132928     2054     3.0  1.114048e+09
46  110466     8984     3.5  1.487725e+09
47   80247     4069     3.0  1.313035e+09
48   23462     2671     3.0  1.012642e+09
49  112549     1247     4.0  1.146579e+09

In [ ]:
# train_df = pd.merge(train, movies, on='movieId')
# train_df.shape

(1364368, 6)

In [ ]:
genome_scores.shape

(1342991, 3)

In [ ]:
tags.shape

(1006943, 4)

In [ ]:
genome_tags.shape

(1128, 2)

In [ ]:
imdb_data.shape

(27278, 6)

In [ ]:
links.shape

(62423, 3)

In [ ]:
sample.head(25)

        Id  rating
0   1_2011     1.0
1   1_4144     1.0
2   1_5767     1.0
3   1_6711     1.0
4   1_7318     1.0
5   1_8405     1.0
6   1_8786     1.0
7    2_150     1.0
8    2_356     1.0
9    2_497     1.0
10   2_588     1.0
11   2_653     1.0
12  2_1080     1.0
13  2_1196     1.0
14  2_1198     1.0
15  2_1201     1.0
16  2_1299     1.0
17  2_1485     1.0
18  2_1580     1.0
19  2_1693     1.0
20  2_2028     1.0
21  2_2083     1.0
22  2_2617     1.0
23  2_2640     1.0
24  2_2918     1.0

In [ ]:
test.head()

   userId  movieId
0       1     2011
1       1     4144
2       1     5767
3       1     6711
4       1     7318

In [ ]:
train.head()

   userId  movieId  rating     timestamp
0    5163    57669     4.0  1.518350e+09
1  106343        5     4.5  1.206239e+09
2  146790     5459     5.0  1.076216e+09
3  106362    32296     2.0  1.423043e+09
4    9041      366     3.0  8.333758e+08

In [ ]:
len(train)

280926

In [ ]:
len(test)

694267

In [ ]:
len(sample)

509904